body {
    background-color: #f6f1ec;
}

menu {
    background-color: #ffdebd;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.carousel-item {
    padding-right: 500px;
    padding-left: 500px;
}

.menu-item {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.comprar-item {
    padding: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    
}

